.b1{
    background-color: yellow;
    border-color: yellow;
    box-shadow: none;
}
.b2{
    background-color: green;
    border-color: green;
    box-shadow: none;
}
.b3{
    background-color: pink;
    border-color: pink;
    box-shadow: none;
}
.box{
    display:inline-flex;
}